html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#section_first {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section_first img:nth-child(1) {
  height: 500px;
  width: 100%;
  filter: brightness(30%);
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

#section_first img:nth-child(2) {
  height: 150px;
  width: 125px;
  border-radius: 32%;
  border: 1px solid black;
  margin-top: 70px;
}

.heading_big {
  color: white;
  text-align: center;
}

.heading_small {
  color: white;
  text-align: center;
}

.content_about button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.7rem;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
}

.content_about button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.content_about button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content_about button:hover span {
  padding-right: 25px;
}

.content_about button:hover span:after {
  opacity: 1;
  right: 0;
}

#section_about {
  background-color: rgb(225, 225, 225);
  color: rgb(37, 37, 37);
}

.text_about {
  display: none;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content_about {
  padding: 10px 15px 50px 15px;
}

#section_skills {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 37, 37);
  margin-left: 20px;
}

#section_skills h2 {
  align-self: center;
  margin: 30px 0 30px 0;
}

.content_skills article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.content_skills article img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.row h3 {
  margin-bottom: 10px;
}

#experienceAndEducation {
  background-color: rgb(225, 225, 225);
}

#section_experience {
  padding: 0 10px 100px 15px;
}

.img_experience {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.verticalLine {
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgb(193, 193, 193);
  height: 200px;
  left: 50%;
  margin-left: 30px;
  top: 0;
}

.circle h3 {
  font-size: 20px;
  margin: 0 0 0 15px;
}

.fa {
  margin-left: 15px;
  font-size: 16px;
}

.fa time {
  font-size: 18px;
  margin-left: 10px;
}

.circle:before {
  color: rgb(128, 128, 128);
  margin-left: -10px;
  content: ' \25CF';
  font-size: 30px;
}

#section_education {
  padding: 0 10px 100px 15px;
}

.img_education {
  width: 60px;
  height: 40px;
  margin-left: 3px;
}

#map_wrapper {
  display: flex;
  justify-content: center;
}

#map {
  width: 98%;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#section_expectations {
  margin: 30px 20px 60px 20px;
}

#section_projects {
  background-color: rgb(225, 225, 225);
}

#section_wrapper {
  padding-top: 40px;
  margin: 0 20px 0 20px;
  text-align: center;
}

footer {
  margin: 15px;
}

@media only screen and (min-width: 600px) {

  .content_about button {
    margin-left: 100px;
  }

  .text_about {
    margin-left: 20px;
  }

  #section_skills {
    margin: 0 50px 0 50px;
  }

  #section_experience {
    padding-left: 70px;
  }

  #section_education {
    padding-left: 70px;
  }

  #section_expectations {
    margin-left: 50px;
  }

  #map {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {

  .content_about button {
    margin-left: 400px;
  }

  .content_skills {
    display: flex;
    flex-wrap: wrap;
  }

  .content_skills article {
    width: 50%;
  }

  #experienceAndEducation {
    display: flex;
    justify-content: center;
  }

  #map {
    width: 60%;
    height: 500px;
  }
}