
.entries {
  border-left: 1px solid black;
  padding: 0;
  margin-left: 50px;
}

.entries > li {
  margin-left: 50px;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.entries > li:before {
  content: '';
  
  display: inline-block;
  background: gray;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-left: -25px;
  
}